{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Annonces - {{ parent() }}
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h2 class="featurette-heading"><i class="fa fa-car fa-1x hred"></i> Annonces</h2>
  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block ocplatform_body %}
  {% endblock %}

{% endblock %}
